body{
				background-color: #b1f3da;
				background-image: url(c:Users/allan.sobral/Downloads/Original.jpg);
				padding-bottom: 25;
				padding-left: 105px;
				padding-right: 105x;
			}
			
			h1{
				background-color: #bbcc00;
			}